<!DOCTYPE html>
<html>
<head>
  <title>Щелчок по правой клавише мыши. Отмена действия по умолчанию right context</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="../bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="../vue.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      const sample = new Vue({
        el: '#app', //Привязка через CSS-селектор
        data: {
          search: '',
          history: '',
          showContext: false,
          top: '0px',
          left: '0px'
        },
        methods: {
          // Функция, определяющая положение контекстного меню при нажатии на клавишу
          blockClick: function(e) {
            this.history += 'Была нажата клавиша мыши!\n'
            let button = 'Неизвестно'
            if (e.button === 0) {
              button = 'Левая'
            } else if (e.button === 1) {
              button = 'Средняя'
            } else if (e.button === 2) {
              button = 'Правая'
              this.showContext = true
              this.top = e.y + 'px'
              this.left = e.x + 'px'
              console.log(e)
            }
            this.history += button + ' кнопка была нажата.\n---\n\n'
          },
          clearHistory: function() {
            this.history = ''
          },
          closeContext: function() {
            this.showContext = false
          },
          copyClick: function() {
            alert('Скопируйте текст')
            this.closeContext()
          },
          pasteClick: function() {
            alert('Вставьте текст')
            this.closeContext()
          }
        }
      })
    }
  </script>
  <style>
    .block {
      border: 2px solid #808080;
      padding: 10px;
    }
    .ul {
      position: fixed;
      background-color: lightgray;
      padding: 1rem;
    }
  </style>
</head>
<body>
  <div class="container">
    <div id="app">
      <form>
        <p>Пример, показывающий использование модификаторов <code>right</code>, <code>contextmenu</code> и <code>prevent</code>.</p>
        <div class="form-group row">
          <div class="col-6">
            <!-- Событие onclick с модификатором right -->
            <div class="block text-center" v-on:click.right="blockClick">
              Щёлкните правою клавишей мыши внутри данного блока
            </div>
          </div>
          <div class="col-6">
            <!-- Событие oncontextmenu с модификатором right -->
            <!-- Событие contextmenu работает только с действиями правою клавишей мыши -->
            <!-- В директиве v-on на событии contextmenu используем модификатор prevent. В противном случае будет вызываться действие по умолчанию -->
            <div class="block text-center" v-on:contextmenu.prevent="blockClick">
              Щёлкните правою клавишей мыши внутри данного блока. Действие по умолчанию отменено
            </div>
            <!-- Директива v-if принимает булево значения -->
            <ul v-if="showContext" v-on:blur="closeContext" class="ul list-unstyled" v-bind:style="{ top:top, left:left }">
              <li><a href="#" v-on:click="copyClick">Копировать</a></li>
              <li><a href="#" v-on:click="pasteClick">Вставить</a></li>
            </ul>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="logTextarea">Журнал событий (<a href="#" v-on:click="clearHistory">Очистить</a>)</label>
          <textarea class="form-control" v-model="history" rows="15"></textarea>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
