<!DOCTYPE html>
<html>
<head>
  <title>Привязка к нескольким checkbox'ам</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="../bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="../vue.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      const sample = new Vue({
        el: '#app', //Привязка через CSS-селектор
        data: {
          // В массив будут записаны все значения с элементов checkbox
          searchMachines: []
        }
      })
    }
  </script>
  <style>
    form div {padding-left:20px;}
  </style>
</head>
<body>
  <div class="container">
    <br />
    <p>Пример, показывающий привязку к нескольким полям <code>input</code> с типом <code>checkbox</code></p>
    <div id="app">
      <form>
        <div class="form-check row">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="Авто" v-model="searchMachines" />
            Авто
          </label>
        </div>
        <div class="form-check row">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="Самолёт" v-model="searchMachines" />
            Самолёт
          </label>
        </div>
        <div class="form-check row">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="Корабль" v-model="searchMachines" />
            Корабль
          </label>
        </div>
        <small class="text-muted">Выбрано: {{ searchMachines }}</small>
      </form>
    </div>
  </div>
</body>
</html>
