<!DOCTYPE html>
<html>
<head>
  <title>Привязка к элементам radio-кнопки</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="../bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="../vue.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      const sample = new Vue({
        el: '#app', //Привязка через CSS-селектор
        data: {
          searchElem: ''
        }
      })
    }
  </script>
  <style>
    p {padding-left:20px;}
    span {color:#ff0000;}
  </style>
</head>
<body>
  <div class="container">
    <p>Пример, показывающий работу привязки в элементе <code>input</code> с типом <code>radio</code>.</p>
    <div id="app">
      <label class="form-check-label">
        <input type="radio" value="Футбол" v-model="searchElem" />
        Футбол
      </label>
      <br />
      <label class="form-check-label">
        <input type="radio" value="Хоккей" v-model="searchElem" />
        Хоккей
      </label>
      <br />
      <label class="form-check-label">
        <input type="radio" value="Курсы" v-model="searchElem" />
        Курсы
      </label>
      <p class="text-muted">Сегодня с друзьями мы пойдём на <span>{{ searchElem }}</span></p>
    </div>
  </div>
</body>
</html>
